@font-face {
  font-family: 'Gilroy';
  src: url('/css/fonts/Gilroy-Bold.ttf');
}


@font-face {
  font-family: 'Gilroy';
  src: url('/css/fonts/Gilroy-Regular.ttf');
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gilroy';
}

.container{
  padding-inline: 60px;
  margin-inline: auto;
  background: linear-gradient(286.93deg, #080B44 6.11%, #1A1D60 98.56%);
  position: relative;
  z-index: 99;
  overflow: hidden;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

.align-items{
  align-items: center;
}

.justify-content{
  justify-content: space-around;
}

.justify-content-evenly{
  justify-content: space-evenly;
}

.gap,.footer-section{
  gap: 30px;
}
.text-transform{
  text-transform: capitalize;
}

.border-radius{
  border-radius: 50%;
  border: 0;
}

.position-absolute{
  position: absolute;
}
.header{
  justify-content: space-between;
  gap: 15px;
}

button{
  cursor: pointer;
}
.button__bg{
  background: linear-gradient(286.93deg, #EA4040 6.11%, #F5A52D 98.56%);
}

.widgets-img{
  width: 69px;
}

.logo{
  max-width: 167px;
}

.links{
  text-decoration: none;
  font-size: 18px;
 }

 .bold{
  font-weight: bold;
 }
.click-on{
  gap: 74px;
}
.buttons{
  border: 0;
  border-radius: 50px;
  padding: 9px 28px;
}

.sing-in-btn{
  border: 0;
  background-color: 0;
  background: 0;
}

.buttons{
  gap: 20px;
}

.header-button{
  gap: 67px;
}
.transparent-txt{
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.main-txt__heading {
  font-size: 72px;
  line-height: 1.16;
  margin-bottom: 18px;
}

.text{
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 53px;
  font-weight: 400;
}

.Browse-buttons{
  padding: 18px 56px;
}

.circle-shape{
  max-width: 17px;
  max-height: 17px;
}

.green-shape{
  background: linear-gradient(286.93deg, #11B418 6.11%, #0FD55E 98.56%);
}

.widget-offer{
  gap: 10px;
  margin-bottom: 107px;
}

.main-txt__heading-txt{
  font-size: 64px;
  margin-bottom: 30px;
}

.paragraph{
  line-height: 28px;
  max-width: 817px;
  text-align: center;
  margin-inline: auto;
  margin-bottom: 50px;
}

.widget-description{
  text-align: center;
}

.widget-overview{
  box-shadow: 0px 0px 10px 0px #0000001A;
  border: 1.5px solid #FFFFFF26;
  background: linear-gradient(103.46deg, rgba(37, 37, 37, 0.28) 11.66%, rgba(84, 84, 84, 0.17) 87.59%);
  padding: 20px;
  border-radius: 10px;
  margin-inline: auto;
  margin-top: 200px;
  position: relative;
  margin-right: 140px;
  margin-left: 50px;

}

.reposnsive-tools{
  flex-direction: column;
  gap: 40px;
  max-width: 1424px;
  margin: 0 auto;
  padding: 60px;
  margin-top: 115px;
}

.tool-step{
  max-width: 370px;
  text-align: center;
}

.secondary-heading{
  font-size: 28px;
  margin-bottom: 30px;
}

.section-title {
  font-size: 56px;
  line-height: 70px;
  text-align: center;
  margin-bottom: 18px;
}

.description-text{
  font-size: 30px;
  line-height: 1.2;
}
.tools-overview{
  gap: 149px;
  max-width: 1530px;
  flex-wrap: nowrap;
}

.overview{
  max-width: 1536px;
  margin-top: 81px;
  margin-inline: auto;
  justify-content: center;
}

.text-color{
  color: #fff;
}

.paragraph-font-size{
  font-size: 24px;
}
.join-button{
  padding: 18px 99px;
  border: 0;
  border-radius: 40px;
  background-color: #F5A52D;
  margin-bottom: 234px;
  margin-top: 66px;
}

.newsletter-section{
  background-color: #fff;
  padding: 60px;
  position: relative;
  text-align: center;
}

.Subscribe-buttons,.email{
  padding: 21px 22px;
  border: 1.5px solid #ECECEC;
  border-radius: 40px;
}

.Subscribe-buttons{
  width: 195px;
  right:0;
  border-radius: 40px;
  background-color: #000000;
}
.Subscribe-buttons:hover{
  background-color: #EA4040;
}
.user-input {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
}

.newsletter-heading{
  font-size: 64px;
  margin-inline: auto;
}

.newsletter-text{
  max-width: 700px;
}

.footer{
  justify-content: space-around;
  padding: 60px;
  background-color: #000000;
  position: relative;
  overflow: hidden;
}

.footer-section,.user-input{
  flex-direction: column;
}
.footer-section a{
  text-decoration: none;
  color:#FFF;
}

.footer-main-txt__heading{
  font-size: 24px;
  line-height: 26px;
}

.widget,.user-input{
  padding: 30px;
}

.user-input{
  position: relative;
  max-width: 766px;
  margin-inline: auto;
}

.circle-shape {
  width: 17px;
  height: 17px;
}

.footer-bg{
  background-color: #000000;
}

.off-screen{
  content-visibility: hidden;
}

.empty-container{
  width: 29px;
  height: 29px;
}

.empty-container-bg{
  background: linear-gradient(322.72deg, #2718CA 11.72%, #4584E1 84.11%);
}

.left-blure-container{
  margin-left: auto;
}

.blure-container{
  filter: blur(5px);
}

.transparent-color-div{
  background: linear-gradient(286.93deg, #EA4040 6.11%, #F5A52D 98.56%);
  margin-right: 99px;
}

.tool-div{
  margin-right: 600px;
  margin-left: 0;
}

.join-buttons-div{
  position: absolute;
  bottom: 190px;
  left: 248px;
}

.newsletter-container{
  margin-left: -181px;
  margin-bottom: -100px;
}

.newsletter-empty-div{
  margin-left: auto;
  margin-right: 260px;
}

.tools-container{
  left: 0;
  width: 245px;
  height: 245px;
}

.right-side-div{
  right: -60px;
  bottom: 0;
  width: 177px;
  height: 177px;
}
.container-bg{
  background: linear-gradient(286.93deg, #EA4040 6.11%, #F5A52D 98.56%);
}

.container-width{
  width: 254px;
  height: 254px;
}

.blue-shape{
  background-color: #3121e7e3;
}

.copy-right{
  text-align: center;
  margin-top: 32px;
}


.tool-div-2{
  visibility: hidden;
}
.overview-div{
  position: absolute;
  right: -175px;
  top: -350px;
  z-index: -1;
  width: 498px;
  height: 498px;
}

.section-description{
  font-size: 20px;
}

.tex-size{
  font-size: 24px;
}

.main-txt{
  max-width: 1000px;
}

.hero{
  margin-top: 180px;
  margin-left: 50px;
}

.hero__text{
  max-width: 706px;
  line-height: 1.2;
}

.smart-tools{
  text-align: center;
  align-items: center;
  gap: 40px;
  justify-content: center;
}

.smart-tool-direction{
  flex-direction: column;
}
@media (max-width:1424){

  .hero,.widget-overview{
    margin-left: 50px;
  }

  .overview-div{
    right: -100px;
    top: -150px;
    width: 250px;
    height: 250px;
  }
}

@media (max-width:998px) {

  .tools-overview{
    justify-content: center;
    flex-wrap: wrap;
  }
  .overview-div{
    right: -100px;
    top: -150px;
    width: 250px;
    height: 250px;
  }
}

@media (max-width:768px){
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }

  .overview-div{
    right: -120px;
    top: -300px;
    width: 240px;
    height: 240px;
    margin-top: 200px;
  }
  .main-txt{
    text-align: center;
  }

  .Browse-buttons{
    width: 100%;
  }

  .main-txt__heading{
    margin: 0 auto;
    max-width: 330px;
    font-size: 48px;
    line-height: 40px;
    margin-bottom: 40px;
  }

  .reposnsive-tools{
    text-align: center;
    padding: 0;
  }

  .footer{
    flex-direction: column;
    gap: 40px;
  }
  .widget-overview{
    position: relative;
    margin-inline: 0;
    text-align: center;
    padding: 0;
  }

  .flex-direction{
    flex-direction: column;
  }

  .newsletter-heading{
    font-size: 48px;
  }

  .empty-container{
    margin-right: auto;
    margin-left: 50px;
  }

  .footer{
    padding: 30px;
  }

  .newsletter-section{
    padding: 0;
  }

  .widget{
    gap: 20px;
  }

  .Subscribe-buttons{
    max-width: 100px;
  }

  .main-txt__heading-txt{
    font-size: 48px;
  }

  .tool-div{
    margin-right: auto;
  }

  .newsletter-empty-div{
    margin-inline: auto;
    margin:30px;
  }

  .transparent-color-div{
    margin-left: 0;
    filter: blur(1px);
    position: absolute;
    left: -132px;
    bottom: -118px;
    width: 200px;
    height: 200px;
    z-index: -1;
  }

  .click-on{
    gap: 20px;
    justify-content: center;
  }

  .link-list{
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 103px;
    overflow: hidden;
  }

  .tool-div{
    visibility: hidden;
  }

  .tool-div-2{
    margin-right: auto;
    visibility: visible;
  }

  .tools-container{
    visibility: hidden;
  }

  .section-title{
    font-size: 48px;
  }

  .header{
    justify-content: center;
  }

  .tools-overview{
    gap: 58px;
    max-width: 100%;
  }

  .hero-div{
    margin-bottom: 40px;
    filter: blur(10px);
  }

  .hero{
    margin-top: 121px;
    margin-left: 0;
  }

  .widget-primary-div{
    padding: 10px;
  }

  .widget-offer{
    padding: 10px;
  }
  
  .widget{
    padding: 0;
  }
}